<div class="container" *ngIf="tipo == 'precio'">
    <header>
        <span class="aciertos">Récord: {{recordAciertosPrecio}}</span>
        <button class="inicio" mat-raised-button color="primary" type="submit" (click)="volver()">Inicio</button>
        <h1>Comparador por Precio</h1>
        <span class="aciertos"><mat-icon>check_circle</mat-icon> {{contadorAciertos}}</span>
    </header>
    <div class="precio">
        <div [(ngModel)]="jugadorSeleccionado1" ngDefaultControl 
        style="background-image: url({{jugadorSeleccionado1.imagen}}); width: 960px; height: 882px;">
            <p class="nombre">Nombre: {{jugadorSeleccionado1.nombre}}</p>
            <p>Edad: {{jugadorSeleccionado1.edad}}</p>
            <p>Nacionalidad: {{jugadorSeleccionado1.pais}}</p>
            <p>Cuesta: {{jugadorSeleccionado1.precio}}&nbsp;millones €</p>
            <p>Equipo: <img class="escudos" src="{{jugadorSeleccionado1.equipo}}"></p> 
        </div>
        <div class="icons" *ngIf="mostrarVs">
            <img src="./assets/vs.png">
        </div>
        <div class="icons" *ngIf="mostrarAcierto">
            <img src="./assets/correct.png">
        </div>
        <div [(ngModel)]="jugadorSeleccionado2" ngDefaultControl style="background-image: url({{jugadorSeleccionado2.imagen}}); width: 960px; height: 882px;">
            <p class="nombre">Nombre: {{jugadorSeleccionado2.nombre}}</p>
            <p>Edad: {{jugadorSeleccionado2.edad}}</p>
            <p>Nacionalidad: {{jugadorSeleccionado2.pais}}</p>
            <p>Equipo: <img class="escudos" src="{{jugadorSeleccionado2.equipo}}"></p>
            <p> Cuesta</p> 
            <div class="margenBotones">
                <button mat-raised-button class="mas" type="submit" (click)="comparacionJugadoresMas()">Más</button>&nbsp;
                <button mat-raised-button class="menos" type="submit" (click)="comparacionJugadoresMenos()">Menos</button>
            </div>
            <p>Millones</p>    
        </div>
    </div>
</div>
<div class="container" *ngIf="tipo == 'edad'">
    <header>
        <span class="aciertos">Récord: {{recordAciertosEdad}}</span>
        <button class="inicio" mat-raised-button color="primary" type="submit" (click)="volver()">Inicio</button>
        <h1>Comparador por Edad</h1>
        <span class="aciertos"><mat-icon>check_circle</mat-icon> {{contadorAciertos}}</span>
    </header>
    <div class="edad">
        <div [(ngModel)]="jugadorSeleccionado1" ngDefaultControl style="background-image: url({{jugadorSeleccionado1.imagen}}); width: 960px; height: 882px;">
            <p class="nombre">Nombre: {{jugadorSeleccionado1.nombre}}</p>
            <p>Edad: {{jugadorSeleccionado1.edad}}</p>
            <p>Nacionalidad: {{jugadorSeleccionado1.pais}}</p>
            <p>Cuesta: {{jugadorSeleccionado1.precio}}&nbsp;millones €</p>
            <p>Equipo: <img class="escudos" src="{{jugadorSeleccionado1.equipo}}"></p> 
        </div>
        <div class="icons" *ngIf="mostrarVs">
            <img src="./assets/vs.png">
        </div>
        <div class="icons" *ngIf="mostrarAcierto">
            <img src="./assets/correct.png">
        </div>
        <div [(ngModel)]="jugadorSeleccionado2" ngDefaultControl style="background-image: url({{jugadorSeleccionado2.imagen}}); width: 960px; height: 882px;">
            <p class="nombre">Nombre: {{jugadorSeleccionado2.nombre}}</p>
            <p>Nacionalidad: {{jugadorSeleccionado2.pais}}</p>
            <p>Cuesta: {{jugadorSeleccionado2.precio}}&nbsp;millones €</p>
            <p>Equipo: <img class="escudos" src="{{jugadorSeleccionado2.equipo}}"></p>
            <p>Tiene</p>
            <div class="margenBotones">
                <button mat-raised-button class="mas" type="submit" (click)="comparacionJugadoresMas()">Más</button>&nbsp;
                <button mat-raised-button class="menos" type="submit" (click)="comparacionJugadoresMenos()">Menos</button>
            </div>
            <p>Años</p>    
        </div>
    </div>
</div>    
