.precio{
    display: flex;
}

.edad{
    display: flex;
}

.nombre{
    margin-top: 300px;
}

.inicio{
    margin-top: 0px;
    height: 45px;
}

header{
    height: 45px;
    display: flex;
    justify-content: space-between;
    line-height: 39px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

header input{
    height: 40px;
    margin-block: auto;
}

mat-icon{
    font-size: 35px;
    margin-right: 20px;
}

.aciertos{
    color: #F11D34;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    margin-top: 5px;
}

h1{
    color: #F11D34;
    font-weight: bold;
    font-size: 30px;
    margin-top: 5px;
    text-align: center !important;
}

p{
    text-align: left;
    padding: 10px;
    margin-left: 200px;
    font-weight: bold;
    font-size: 30px;
    color: yellow;
}

button{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    width: 120px;
    height: 50px;
    border: none;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}

.margenBotones{
    margin-left: 200px;
}

.icons{
    position: absolute;
    top: 450px;
    left: 895px;
}

.escudos{
    width: 80px;
    height: 80px;
    margin-bottom: -30px;
}

.mas{
    background-color: #43CA5A;
    color: white;
}

.menos{
    background-color: #F11D34;
    color: white;
}