<div class="container">
    <div *ngIf="!isRecord">
        <span>Has fallado</span>
        <img src="./assets/triste.png" alt=""><br><br>
        <span>Tu resultado ha sido de {{contadorAciertos}} aciertos</span><br><br>
        <button mat-raised-button color="primary" type="submit" (click)="volver()">Jugar de nuevo</button>
    </div>
    <div *ngIf="isRecord">
        <span>¡Enhorabuena! Has finalizado el juego</span>
        <img src="./assets/sonrisa.png" alt=""><br><br>
        <button mat-raised-button color="primary" type="submit" (click)="volver()">Jugar de nuevo</button>
    </div>
</div>
