.container{
    text-align: center;
    margin-top: 350px;
}

img{
    width: 50px;
    height: 50px;
    margin-bottom: -10px;
    margin-left: 10px;
}

span{
    color: #F11D34;
    font-weight: bold;
    font-size: 35px;
}

button{
    width: 200px;
    height: 60px;
    border: none;
    font-size: 25px;
    cursor: pointer;
}